<section class="container" *ngIf="city && city.weather">
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="closeWidget()">&times;</button>
                    <h3 class="modal-title">Weather in <strong>{{city.name}}</strong>, {{city.sys?.country}}</h3>
                </div>
                <div class="modal-body">
                    <h3><img [src]="path + city.weather[0].icon + '.png'" alt="{{city.weather[0].description}}"/>
                        {{city.main?.temp | Celsius}} &deg;C</h3>
                    <table class="table table-striped table-bordered table-condensed table-hover">
                        <tbody>
                        <tr>
                            <th>Wind</th>
                            <td id="weather-widget-wind">{{city.wind.speed}} m/s ({{city.wind.deg}})</td>
                        </tr>
                        <tr>
                            <th>Cloudiness</th>
                            <td id="weather-widget-cloudiness">{{city.weather[0].main}}</td>
                        </tr>
                        <tr>
                            <th>Pressure</th>
                            <td id="weather-widget-pressure">{{city.main.pressure}} hpa</td>
                        </tr>
                        <tr>
                            <th>Humidity</th>
                            <td id="weather-widget-humidity">{{city.main.humidity}} %</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

