<div class="container">
    <form class="form-inline"
          [formGroup]="searchForm"
          (ngSubmit)="getWeather()">
        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Enter city name"
                   formControlName="cityName">
        </div>
        <button type="submit" class="btn btn-primary">Get Weather</button>
    </form>

    <br>

    <div class="well" *ngIf="weather">
        <h4>{{weather | CityWeather}}</h4>
        <button class="btn btn-sm btn-default" (click)="onAdd()">
            Add to table
        </button>
    </div>

    <hr/>
</div>