<section class="container">
    <header class="page-header">
        <h2>Filter table</h2>
    </header>

    <div class="row">
        <form class="form-filter col-md-6 col-sm-9"
              [formGroup]="filterForm"
              (submit)="applyFilters(filterForm)">

            <div class="form-group" formGroupName="columns">
                <label>Show columns:</label> <br/>
                <label class="checkbox-inline" *ngFor="let filter of filterList">
                    <input type="checkbox"
                           value="filter"
                           [formControlName]="filter">
                    {{filter}}
                </label>
            </div>

            <div class="form-group row"
                 [ngClass]="{'has-error': filterForm.get('temperature').dirty&& filterForm.get('temperature').errors,
                             'has-success': filterForm.get('temperature').dirty && !filterForm.get('temperature').errors}">
                <div class="col-xs-8">
                    <label for="input-temperature">Temperature range* (by Kelvin's):</label>
                    <small class="help-block helper">Format: sign &gt;/&lt;/= + number (e.g. '&gt; -273')</small>
                    <input type="text"
                           class="form-control"
                           placeholder="Enter temperature"
                           formControlName="temperature"
                           id="input-temperature">
                    <wapi-input-errors [inputErrors]="filterForm.get('temperature').dirty && filterForm.get('temperature').errors"
                                       [inputValid]="'Valid. You\'re awesome!'"
                                       [errorsState]="{required: 'Range is required',
                                       invalidTemperatureRange: 'No regexp matched'}"></wapi-input-errors>
                </div>
            </div>

            <div class="form-group row"
                 [ngClass]="{'has-error': filterForm.get('rows').dirty && filterForm.get('rows').errors,
                             'has-success': filterForm.get('rows').dirty && !filterForm.get('rows').errors}">
                <div class="col-xs-8">
                    <label for="input-rows">Row of table*:</label>
                    <select class="form-control"
                            id="input-rows"
                            formControlName="rows">
                        <option [selected]="filterForm.get('rows').value === null" value="">-- Select --</option>
                        <option *ngFor="let row of rowsList" [value]="row">{{row}}</option>
                    </select>
                    <wapi-input-errors [inputErrors]="filterForm.get('rows').dirty && filterForm.get('rows').errors"
                                       [inputValid]="'Valid. Nice choice.'"
                                       [errorsState]="{required: 'Choose visible number of rows'}"></wapi-input-errors>
                </div>
            </div>

            <div class="form-group">
                <label>Measure:</label> <br/>
                <label class="radio-inline" *ngFor="let unit of measureList">
                    <input type="radio"
                           [value]="unit"
                           formControlName="measure">
                    {{unit}}
                </label>
            </div>

            <div class="form-group">
                <label>Hide table head:</label> <br/>
                <wapi-checkbox formControlName="toggle"></wapi-checkbox>
            </div>

            <hr/>

            <div class="form-group row"
                 [ngClass]="{'has-error': filterForm.get('cityName').dirty && filterForm.get('cityName').errors,
                             'has-success': filterForm.get('cityName').dirty && !filterForm.get('cityName').errors}">
                <div class="col-xs-8">
                    <label for="input-city">Get weather:</label>
                    <input type="text"
                           class="form-control"
                           placeholder="Enter city"
                           formControlName="cityName"
                           id="input-city">
                    <wapi-input-errors [inputErrors]="filterForm.get('cityName').dirty && filterForm.get('cityName').errors"
                                       [inputValid]="'Now it\'s a valid'"
                                       [errorsState]="{minlength: 'City name should consist at least 3 letters!'}"></wapi-input-errors>
                </div>
                <div class="col-xs-4">
                    <label>&nbsp;</label>
                    <button type="button"
                            class="btn btn-primary btn-block"
                            [disabled]="!filterForm.get('cityName').dirty || filterForm.get('cityName').errors"
                            (click)="getWeather(); filterForm.get('cityName').reset()">Get
                    </button>
                </div>
            </div>

            <div class="well" *ngIf="weather">
                <h4><strong>{{weather | CityWeather}}</strong></h4>
                <button class="btn btn-sm btn-danger"
                        (click)="onAdd()"
                        [disabled]="isAdded">
                    Add to table
                </button>
            </div>

            <button type="submit"
                    [disabled]="filterForm.invalid"
                    class="btn btn-lg btn-success">Apply filters
            </button>
        </form>
    </div>

    <hr/>
</section>