<div class="container">
    <form class="form-inline"
          [formGroup]="searchForm"
          (ngSubmit)="getWeather()">
        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="enter city"
                   formControlName="cityName">
        </div>
        <button type="submit"
                class="btn btn-primary"
                [disabled]="!cityName.value">Get Weather
        </button>
    </form>

    <div *ngIf="!serverError">
        <div class="well" *ngIf="weather">
            <h4>{{weather | CityWeather}}</h4>
            <button class="btn btn-sm btn-default" (click)="onAdd()" [disabled]="isAdded">
                Add to table
            </button>
        </div>
    </div>

    <div class="alert alert-danger" *ngIf="serverError">
        {{serverError}}
    </div>

    <hr/>
</div>