<div class="container">
    <header class="page-header">
        <h2>Cities table
            <small>Weather stats</small>
        </h2>
        <p *ngIf="isLoaded">
            Your position is
            <span class="text-success">
                {{position.coords.latitude | number: '1.2-2'}},
                {{position.coords.longitude | number: '1.2-2'}}
            </span>
        </p>
    </header>
    <div class="table-responsive table-cities" [ngClass]="{'done': isLoaded}" *ngIf="!errorText">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th *ngFor="let th of thead">{{th | uppercase}}</th>
            </tr>
            </thead>
            <tbody class="cities">
            <tr wapi-city
                *ngFor="let city of cities; let i = index"
                (remove)="onRemove(i)"
                (click)="onHighlight(i)"
                [colorWeather]="city"
                [city]="city"
                [ngClass]="{highlight: city.isHighlight}"></tr>
            </tbody>
        </table>
    </div>

    <div class="alert alert-danger" *ngIf="errorText">
        {{errorText}}
    </div>

    <hr/>
</div>