<footer class="footer text-center">
    <p>&copy; 2016 Copyrights</p>
    <address>
        <strong>EPAM Systems, Inc</strong><br/>
        1/1 Academician Kuprevich Street<br/>
        Suite 110 <br/>
        220141 Minsk, Belarus<br>
        <abbr title="Phone">P:</abbr> +375-17-389-0100 <br/>
        <abbr title="Fax">F:</abbr> +375-17-268-6699
    </address>
    <address>
        <strong>Siarhei Hamanovich</strong><br/>
        <a href="mailto:siarhei_hamanovich@epam.com">Siarhei_Hamanovich@epam.com</a>
    </address>
</footer>