<th scope="row">{{city.id}}</th>
<td>{{city.name}}</td>
<td>
    {{city.coord.lat | number: '1.2-2'}},
    {{city.coord.lon | number: '1.2-2'}}
</td>
<td>{{city.main.temp | Celsius | number: '1.2-2'}}</td>
<td>{{city.main.pressure}}</td>
<td>{{city.main.humidity}}</td>
<td class="text-center">
    <wapi-wind [windWeather]="city.wind"></wapi-wind>
</td>
<td class="text-center">
    <wapi-icon-weather [iconWeather]="city.weather[0]"></wapi-icon-weather>
</td>
<td class="text-center">
    <span class="icon-remove"
          (click)="onRemove()">&times;</span>
</td>